{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Dream analysis is a therapeutic technique best known for its use in psychoanalysis.
		Sigmund Freud viewed dreams as “the royal road” to the unconscious and developed dream analysis, or dream interpretation,
		as a way of tapping into this unconscious material.

Mental health professionals may also utilize dream analysis as part of therapeutic frameworks such as
Jungian, Gestalt, cognitive behavioral, and art therapies.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
